<h1>New individual</h1>

<%= form_for @individual do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :Div %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :ID %>
  <%= f.text_field :division_id %>
  <br>
  <br>
  <%= f.submit  %>
<% end %>
