<h1><%= @individual.name %></h1>

<p><%= link_to "Edit", edit_individual_path(@individual) %></p>
<p><%= link_to "Delete", individual_path(@individual),
  :data => {:confirm => "You sure?",
  :method => "delete"} %></p>


  

  <p><%= link_to "Add a division", new_individuals_division_path(@individuals) %></p>

  <p><%= link_to "Edit", edit_individuals_path(@individuals) %></p>
  <p><%= link_to "Delete individuals", individuals_path(@individuals),
    :data => {:confirm => "Are you sure?",
    :method => "delete"} %></p>



    <p><%= link_to "Return to individuals", individuals_path %></p>
